ul {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
li {
  float: left;
}
li a {
  display: block;
  color: gray;
  text-align: right;
  padding: 12px 14px;
  text-decoration: none;
}
.right a:hover {
  color: #e70031;
}
.right {
  float: right;
}
